*{
    box-sizing: border-box;
}

.product{
    display: flex;
    flex-direction: row;
    /* border: 1px solid black; */
    border-radius: 10px;
    background-color: white;
}

.productDetails h6{
    background-color: black;
    color: white;
    padding: 0.5vw;
}

.updatedButton{
    width: 8vw;
    height: 6vh;
    border: none;
    border-radius: 10px;
    background-color: rgb(179, 233, 210);
}

.updateButton:hover {
    background-color: green;
    color: white;
}

.deleteButton:hover{
    background-color: red;
    color: white;
}

.product:hover {
    border: 2px solid rgb(58, 188, 134);
}

.productImage{
    width: 28vw;
    height: 30vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    width: 25vw;
    height: 25vh;
    object-fit: contain;
    object-position: center;
}

.deleteConfirm{
    text-align: center;
}

.deleteConfirm button{
    margin-right: 0.2vw;
    border: none;
    border-radius: 10px;
    width: 4vw;
}

.deleteConfirm .redButton{
    background-color: rgba(255, 0, 0, 0.507);
}

.deleteConfirm .greenButton{
    background-color: lightgreen;
}

.productDetails{
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.productPrice{
    margin-left: 8vw;
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
}

@media screen and (max-width: 768px){
    .product{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .productDetails{
        width: 80vw;
    }

    .productPrice{
        margin-left: 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 80vw;
        /* justify-content: space-around; */
    }

    .productPrice button{
        width: 15vw;
        font-size: 1.3vh;
    }
}

@media screen and (max-width: 360px){
    .productPrice{
        display: flex;
        flex-direction: column;
    }

    .productPrice .updatedButton{
        width: 50vw;
    }

}